# First Steps with the OANDA API

## Getting Historical Data frtom OANDA

In [2]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa("oanda.cfg")

In [12]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [13]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12293  1.12744  1.11837  1.12501   90252      True
2020-07-01 21:00:00  1.12501  1.13020  1.12188  1.12384   90789      True
2020-07-02 21:00:00  1.12384  1.12492  1.12186  1.12429   59036      True
2020-07-05 21:00:00  1.12423  1.13449  1.12391  1.13076   81756      True
2020-07-06 21:00:00  1.13070  1.13318  1.12581  1.12726   92426      True
2020-07-07 21:00:00  1.12717  1.13505  1.12615  1.13287   89549      True
2020-07-08 21:00:00  1.13287  1.13699  1.12774  1.12837  104729      True
2020-07-09 21:00:00  1.12808  1.13242  1.12540  1.12977   81510      True
2020-07-12 21:00:00  1.13042  1.13744  1.13002  1.13420   86512      True
2020-07-13 21:00:00  1.13420  1.14081  1.13232  1.13985  106478      True
2020-07-14 21:00:00  1.13979  1.14512  1.13901  1.14108  100308      True
2020-07-15 21:00:00  1.14108  1.14411  1.13698  1.13827  102144      True
2020-07-16 21:00:00  1.13827  1.14432  1.13737  1.14252   73024      True
2020-07-19 21:00:00  1.14088  1.14672  1.14017  1.14461  104209      True
2020-07-20 21:00:00  1.14461  1.15391  1.14223  1.15257  111043      True
2020-07-21 21:00:00  1.15257  1.16009  1.15059  1.15687  129890      True
2020-07-22 21:00:00  1.15634  1.16260  1.15397  1.15952  115345      True
2020-07-23 21:00:00  1.15920  1.16571  1.15806  1.16540  115447      True
2020-07-26 21:00:00  1.16420  1.17809  1.16387  1.17502  123653      True
2020-07-27 21:00:00  1.17502  1.17729  1.16980  1.17138  126006      True
2020-07-28 21:00:00  1.17145  1.18054  1.17114  1.17904  121087      True
2020-07-29 21:00:00  1.17904  1.18475  1.17304  1.18465  128163      True
2020-07-30 21:00:00  1.18465  1.19081  1.17602  1.17751  154943      True

In [14]:
df = api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-06-30 21:00:00 to 2020-07-30 21:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   o         23 non-null     float64
 1   h         23 non-null     float64
 2   l         23 non-null     float64
 3   c         23 non-null     float64
 4   volume    23 non-null     int64
 5   complete  23 non-null     bool
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [16]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "A")

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12393  1.12758  1.11858  1.12527   90252      True

In [17]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12293  1.12744  1.11837  1.12501   90252      True

In [18]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H1", "A")

                           o        h        l        c  volume  complete
time
2020-08-03 00:00:00  1.17821  1.17900  1.17418  1.17543    6315      True
2020-08-03 01:00:00  1.17544  1.17732  1.17461  1.17722    4786      True
2020-08-03 02:00:00  1.17720  1.17744  1.17638  1.17691    2092      True
2020-08-03 03:00:00  1.17693  1.17768  1.17672  1.17741    1561      True
2020-08-03 04:00:00  1.17739  1.17832  1.17722  1.17770    1496      True
2020-08-03 05:00:00  1.17767  1.17799  1.17678  1.17746    1959      True
2020-08-03 06:00:00  1.17748  1.17762  1.17495  1.17508    5793      True
2020-08-03 07:00:00  1.17510  1.17687  1.17506  1.17631    9003      True
2020-08-03 08:00:00  1.17632  1.17857  1.17601  1.17798    8002      True
2020-08-03 09:00:00  1.17799  1.17804  1.17430  1.17452    6627      True
2020-08-03 10:00:00  1.17451  1.17460  1.17149  1.17257    7682      True
2020-08-03 11:00:00  1.17258  1.17354  1.17254  1.17260    5557      True
2020-08-03 12:00:00  1.17259  1.17350  1.17068  1.17083    7233      True
2020-08-03 13:00:00  1.17084  1.17250  1.16966  1.17241    9396      True
2020-08-03 14:00:00  1.17240  1.17441  1.17224  1.17388   11324      True
2020-08-03 15:00:00  1.17388  1.17514  1.17342  1.17504    6837      True
2020-08-03 16:00:00  1.17503  1.17528  1.17390  1.17499    3956      True
2020-08-03 17:00:00  1.17498  1.17593  1.17477  1.17526    3572      True
2020-08-03 18:00:00  1.17526  1.17642  1.17516  1.17598    3120      True
2020-08-03 19:00:00  1.17596  1.17666  1.17587  1.17649    2793      True
2020-08-03 20:00:00  1.17648  1.17687  1.17630  1.17632    1166      True
2020-08-03 21:00:00  1.17632  1.17699  1.17618  1.17639     175      True
2020-08-03 22:00:00  1.17629  1.17693  1.17603  1.17613     416      True
2020-08-03 23:00:00  1.17615  1.17618  1.17569  1.17611     559      True
2020-08-04 00:00:00  1.17609  1.17624  1.17529  1.17545    1472      True
2020-08-04 01:00:00  1.17546  1.17602  1.17540  1.17592    1610      True
2020-08-04 02:00:00  1.17590  1.17741  1.17577  1.17730    1475      True
2020-08-04 03:00:00  1.17729  1.17748  1.17642  1.17686    1386      True
2020-08-04 04:00:00  1.17687  1.17754  1.17678  1.17747    1169      True
2020-08-04 05:00:00  1.17746  1.17781  1.17648  1.17675    1617      True
2020-08-04 06:00:00  1.17677  1.17809  1.17649  1.17777    5409      True
2020-08-04 07:00:00  1.17780  1.18034  1.17725  1.17874   11029      True
2020-08-04 08:00:00  1.17872  1.17959  1.17736  1.17936    9091      True
2020-08-04 09:00:00  1.17933  1.18071  1.17928  1.17955    7353      True
2020-08-04 10:00:00  1.17955  1.17961  1.17687  1.17708    7140      True
2020-08-04 11:00:00  1.17709  1.17741  1.17553  1.17620    7599      True
2020-08-04 12:00:00  1.17618  1.17719  1.17229  1.17290   10370      True
2020-08-04 13:00:00  1.17291  1.17389  1.17221  1.17254   10603      True
2020-08-04 14:00:00  1.17256  1.17652  1.17249  1.17573   11371      True
2020-08-04 15:00:00  1.17574  1.17744  1.17514  1.17659    7072      True
2020-08-04 16:00:00  1.17658  1.17785  1.17653  1.17785    5020      True
2020-08-04 17:00:00  1.17784  1.17860  1.17767  1.17835    3868      True
2020-08-04 18:00:00  1.17834  1.17924  1.17753  1.17830    3394      True
2020-08-04 19:00:00  1.17828  1.18038  1.17827  1.18033    3615      True
2020-08-04 20:00:00  1.18037  1.18043  1.17953  1.18040    1088      True
2020-08-04 21:00:00  1.18063  1.18063  1.17984  1.17989      53      True
2020-08-04 22:00:00  1.17984  1.18013  1.17937  1.17990     675      True
2020-08-04 23:00:00  1.17992  1.18161  1.17954  1.18148     897      True

In [19]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H12", "A")

                           o        h        l        c  volume  complete
time
2020-08-02 21:00:00  1.17828  1.17976  1.17418  1.17798   43624      True
2020-08-03 09:00:00  1.17799  1.17804  1.16966  1.17632   69263      True
2020-08-03 21:00:00  1.17632  1.18034  1.17529  1.17936   35408      True
2020-08-04 09:00:00  1.17933  1.18071  1.17221  1.18040   78493      True
2020-08-04 21:00:00  1.18063  1.18421  1.17937  1.18408   33438      True

In [20]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "M1", "A")

                           o        h        l        c  volume  complete
time
2020-08-03 00:00:00  1.17821  1.17835  1.17819  1.17835      44      True
2020-08-03 00:01:00  1.17835  1.17871  1.17833  1.17871      59      True
2020-08-03 00:02:00  1.17873  1.17896  1.17873  1.17884      62      True
2020-08-03 00:03:00  1.17885  1.17900  1.17877  1.17877      36      True
2020-08-03 00:04:00  1.17877  1.17877  1.17824  1.17835      64      True
...                      ...      ...      ...      ...     ...       ...
2020-08-04 23:55:00  1.18098  1.18161  1.18096  1.18147     129      True
2020-08-04 23:56:00  1.18149  1.18161  1.18146  1.18159      28      True
2020-08-04 23:57:00  1.18156  1.18160  1.18152  1.18156      23      True
2020-08-04 23:58:00  1.18154  1.18161  1.18148  1.18155      15      True
2020-08-04 23:59:00  1.18153  1.18155  1.18147  1.18148      11      True

[2803 rows x 6 columns]

In [21]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-04", "S5", "A")

c:\Users\Sauron\AppData\Local\Programs\Python\Python310\lib\site-packages\tpqoa\tpqoa.py:223: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dr = pd.date_range(start, end, freq=freq)

                           o        h        l        c  volume  complete
time
2020-08-03 00:00:00  1.17821  1.17830  1.17819  1.17828      16      True
2020-08-03 00:00:10  1.17827  1.17832  1.17824  1.17832       6      True
2020-08-03 00:00:15  1.17830  1.17830  1.17823  1.17826       7      True
2020-08-03 00:00:30  1.17829  1.17830  1.17828  1.17829       4      True
2020-08-03 00:00:35  1.17827  1.17827  1.17827  1.17827       1      True
...                      ...      ...      ...      ...     ...       ...
2020-08-03 23:57:50  1.17609  1.17613  1.17609  1.17613       3      True
2020-08-03 23:58:35  1.17613  1.17613  1.17613  1.17613       1      True
2020-08-03 23:59:45  1.17613  1.17613  1.17611  1.17611       2      True
2020-08-03 23:59:50  1.17609  1.17611  1.17609  1.17611       2      True
2020-08-04 00:00:00  1.17609  1.17609  1.17608  1.17608       2      True

[13562 rows x 6 columns]

In [23]:
api.get_history("SPX500_USD", "2020-08-03", "2020-08-04", "H1", "A")

                          o       h       l       c  volume  complete
time
2020-08-03 00:00:00  3272.8  3276.1  3267.0  3273.5    2094      True
2020-08-03 01:00:00  3273.8  3279.6  3271.5  3277.8    1916      True
2020-08-03 02:00:00  3278.1  3278.1  3270.5  3271.8     843      True
2020-08-03 03:00:00  3272.3  3273.8  3269.5  3270.3     482      True
2020-08-03 04:00:00  3270.6  3271.8  3268.5  3271.8     368      True
2020-08-03 05:00:00  3272.0  3275.6  3270.0  3272.4     499      True
2020-08-03 06:00:00  3272.0  3272.8  3267.3  3270.0     743      True
2020-08-03 07:00:00  3270.3  3272.3  3263.0  3272.0    1717      True
2020-08-03 08:00:00  3272.3  3275.9  3264.3  3267.8    1160      True
2020-08-03 09:00:00  3267.5  3275.3  3266.0  3275.0    1085      True
2020-08-03 10:00:00  3274.5  3288.8  3273.8  3288.0    1078      True
2020-08-03 11:00:00  3288.3  3292.0  3286.2  3291.8     697      True
2020-08-03 12:00:00  3292.3  3294.1  3290.3  3292.5     596      True
2020-08-03 13:00:00  3292.6  3293.3  3284.7  3291.0    1555      True
2020-08-03 14:00:00  3290.8  3300.0  3286.5  3289.7    1824      True
2020-08-03 15:00:00  3290.0  3301.5  3289.2  3298.2     753      True
2020-08-03 16:00:00  3298.5  3299.5  3295.0  3296.5     633      True
2020-08-03 17:00:00  3297.0  3300.0  3296.2  3298.5     566      True
2020-08-03 18:00:00  3298.8  3303.5  3296.7  3302.2     845      True
2020-08-03 19:00:00  3302.5  3303.1  3291.5  3295.2    1796      True
2020-08-03 20:00:00  3295.0  3298.6  3291.2  3297.0     643      True
2020-08-03 22:00:00  3295.8  3296.6  3293.8  3295.3     478      True
2020-08-03 23:00:00  3295.0  3298.4  3294.3  3295.8     409      True